Hey Azhar,

We heard you need a password reset. Click the link below to reset your password.

https://dash.evercam.io/v1/users/password-new?u=<%= @user.username %>&t=<%= @user.reset_token %>

If you did not wish to reset your password, you can simply ignore this email.


We greatly appreciate any feedback so if you have any suggestions or if there is anything we can do to improve your Evercam experience, please let us know!

The Evercam Team

support@evercam.io
