sudo: required

language: elixir

elixir: 1.4.1

otp_release: 19.3

addons:
  postgresql: 9.4

services:
  - redis-server

script:
  - MIX_ENV=test mix do ecto.create, ecto.load, test --exclude external:true
